<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo right"><span class= "logo">CONSULTAS ESPECIALISTAS</span></a>
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="collapsible.html"><span class= "subtitulos">Atencion al Cliente</span></a></li>
      </ul>
    </div>
  </nav>

  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    
      <ul class="tabs tabs-transparent">
        <li class="tab" (click)="listarCitas()"><a href="#test1">Consultar Citas</a></li>
        <li class="tab"><a class="active" href="#test2"></a></li>
      </ul>
    </div>
  </nav>
  <div id="listaCitas" class="col s12">
    
        <ul class="collection"  *ngFor="let clinicas of citasList">
          <li class="collection-item avatar">
            <img src="assets/imagenes/cita.jpg" alt="" class="circle">
            <span class="title">Nombre Paciente: {{clinicas.nombre}} {{clinicas.apellidos}} </span>
            <p>Medico: {{clinicas.medico}}  <br>
             Dia de cita: {{clinicas.diassemana}}<br>
             Hora de cita: {{clinicas.hora}}
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>

  </div>

  <div id="test2" class="col s12"></div>



  <div class="col s12 m8 l10"> <!-- Note that "m8 l9" was added -->
      <historias-clinicas-electiva>
      </historias-clinicas-electiva>
  </div>
      
  